<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 用于移动端的视图缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客后台管理页面</title>
    <link th:include="admin/commons_admin::head">
</head>
<body>

<!-- 导航栏 -->
<!-- m-padded-tb-min my-padding-topAndBottom-min -->
<nav th:replace="admin/commons_admin::menu(0)" class="ui inverted attached segment m-padded-tb-min m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a class="m-item item m-mobile-hide" href="blog.html"><i class="home icon"></i>博客</a>
            <a class="m-item item m-mobile-hide" href="types.html"><i class="idea icon"></i>分类</a>
            <a class="m-item item m-mobile-hide" href="tags.html"><i class="tags icon"></i>标签</a>
            <div class="right m-mobile-hide m-item menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img th:src="@{/images/avatar_min.jpg}" alt="管理员头像" class="ui avatar image">
                        cczj
                    </div>
                    <i class="icon dropdown"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 这里的menu 和 toggle 没有具体效果 只是为了用class来获取元素 -->
    <a href="#" class="ui button menu toggle icon black m-right-top m-mobile-show">
        <i class="icon sidebar"></i>
    </a>
</nav>
<!-- 中间内容 -->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <div class="ui success large message">
            <h3>Hi,</h3>
            <p>捶捶自己,欢迎登录~~</p>
        </div>
        <img th:src="@{/images/IDEA-Bg.png}" alt="login_picture" class="ui rounded bordered fluid image">
    </div>
</div>

<!-- script -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script th:src="@{/js/semantic.min.js}"></script>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover',
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>