<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 用于移动端的视图缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客后台标签页面</title>
    <link th:include="admin/commons_admin::head">
</head>
<body>

<!-- 导航栏 -->
<!-- m-padded-tb-min my-padding-topAndBottom-min -->
<nav th:replace="admin/commons_admin::menu(3)" class="ui inverted attached segment m-padded-tb-min m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a class="m-item item m-mobile-hide" href="blog.html"><i class="home icon"></i>博客</a>
            <a class="m-item item m-mobile-hide" href="types.html"><i class="idea icon"></i>分类</a>
            <a class="m-item item m-mobile-hide" href="tags.html"><i class="tags icon"></i>标签</a>
            <div class="right m-mobile-hide m-item menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img th:src="@{/images/avatar_min.jpg}" alt="管理员头像" class="ui avatar image">
                        cczj
                    </div>
                    <i class="icon dropdown"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 这里的menu 和 toggle 没有具体效果 只是为了用class来获取元素 -->
    <a href="#" class="ui button menu toggle icon black m-right-top m-mobile-show">
        <i class="icon sidebar"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="teal item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!-- 中间内容 -->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <form action="#" method="post" class="ui segment form">
            <div class="ui mini positive message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}">
                操作失败~
            </div>
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui dropdown selection">
                        <input type="hidden" name="type">
                        <i class="icon dropdown"></i>
                        <div class="default text">标签</div>
                        <div class="menu">
                            <div class="item" data-value="1">错误日志</div>
                            <div class="item" data-value="2">开发者手册</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal basic button">
                        <i class="icon search"></i>搜索
                    </button>
                </div>
            </div>
        </form>
        <table class="ui teal table">
            <thead>
            <tr>
                <th>序号</th>
                <th>标签</th>
                <th>操作</th>
            </tr>
            </thead>
            <tr th:each="tag,index:${page.content}">
                <td>[[${index.count}]]</td>
                <td th:text="${tag.name}"></td>
                <td>
                    <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}"
                       class="ui mini button basic green">编辑</a>
                    <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}"
                       class="ui mini button basic red">删除</a>
                </td>
            </tr>
            <tfoot>
            <tr>
                <th colspan="6" class="mini vertical">
                    <div class="ui left floated pagination menu" th:if="${page.totalPages} > 1">
                        <a href="#" th:unless="${page.first}" th:href="@{/admin/tags(page = ${page.number} - 1)}"
                           class="item">上一页</a>
                        <a href="#" th:unless="${page.last}"
                           th:href="@{/admin/tags(page = ${page.number} + 1)}" class="item">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/tags/input}"
                       class="ui right floated teal mini basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- script -->
<!--/*/<th:block th:replace="admin/commons_admin::script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover',
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>